{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "next/core-web-vitals",
    "next"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
